.video-player{
  margin: 8px;
}
.video-list-container{
  margin: 8px; 
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
ul.video-list{
  list-style: none;
  margin: 0; 
  padding: 0;
  overflow-y: scroll;
  border-radius: 8px;
}
ul.video-list ._video{
/*              height: 48px;*/
/*              line-height: 8px;*/
  padding: 16px;
  cursor: pointer;
}
/*            手機模式: 0~767*/
@media(max-width:767px){
  .video-list-container .ratio_8_9{
    padding-bottom: 0;
  }
  .video-list-container .ratio_8_9 .ratio_content{
    position: static;
    height: auto;
  }
}