footer{
  background-color: #242424;
}
footer ._container{
  margin: 56px 0;
}
footer ._container._center{
  text-align: center;
}
ul.footer-links{
  color: white;
}
ul.footer-links li{
  padding: 8px;
}
footer .fab{
  color: white;
  background-color: gray;
  height: 64px;
  line-height: 64px;
  width: 64px;
  text-align: center;
  margin-top: 32px;
  border-radius: 50px;
  font-size: 40px;
}
@media(max-width:767px){
  footer ._container{
  margin: 24px 0;
  }
  footer .fab{
    margin-top: 0;
  }
}